.filmTextInfo{
    display: grid;
    grid-template-rows: 1fr 45% ;
grid-gap: 1em;
/* align-items: end; */
}
.filmTextInfo button{
    width:150px;
    height: 50px;
    background-color: rgb(68, 39, 99);
    color:white;
    border-radius: 5px;
    /* border: 5%; */
    align-self: center;
    justify-self: center;
    /* align-items: end; */
     /* align-items: end; */
     /* align-self: flex-end; */
     /* text-align: end; */
     /* justify-content: center; */
}
.but1{
    border: 2px solid black;
    width: 150px;
    height: 170px;

    /* align-self: start; */
    /* align-items:flex-end; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    

}
.pokup{
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}
.vremyapokup{
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-rows: 1% 45% 23% 23% ;
}
.time{
    
    align-self: center;
    /* text-align: center; */
    font-size: 15pt;
    font-weight: bold;
    color:rgb(94, 70, 160);
    border: 1px solid rgb(94, 70, 160);
    border-radius: 10%;
    cursor: pointer;
}
.price{
    align-self: flex-end;
    font-size:9pt ;
}
.rasp{
    color:black;
    align-self: start;
    justify-self: end;
    
}

.shema{
    display: grid;
    grid-template-columns: 30% 1fr;
}
.podrknop{
    justify-self: center;
}
.podr{
    align-self: center;
    justify-self: start;
}
.vniz{
    align-self: center;
}













.select span{
    color:rgb(68, 39, 99);

}

.select{
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
    justify-self: start;
 align-self: center;
    width: 26%;

    position: relative;
    /* margin: 0 auto; */
}
.select_active{
    background-color: rgba(255, 255, 255, 0.4);
    border-top:0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    
    
    /* top: 100%; */
}
.select_header{
    
    cursor: pointer;

display: flex;
}
.select_current{
    font-size: 18px;
    /* line-height: 24; */
    
    padding: 9px 0;
}
.select_icon{
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
}
.select_body{
    border: 1px solid black;
    border-top:0;
    
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 100%; */
}
.select_item{
    cursor: pointer;
border-bottom: 1px solid black;
    font-size: 16px;
    /* line-height: 24px; */
padding: 9px;
}
.select_item:hover{

    background-color: rgba(0, 0, 255, 0.6);
    color:whitesmoke;
}
.opis_select{
display: grid;
grid-template-columns: 35% 1fr;
grid-gap: 1em;

}