.nom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.nominal span{
    border: 1px solid white;
    color: aliceblue;
    align-self: center;
    
    font-size: 18pt;
    border-radius: 5%;
 /* margin-right: 1%;
 margin-left: 1%; */

Font:  "Fira Sans";
padding: 11px 22px;

   
}
.nominal span:hover{
    color: red;
    border: 1px solid red;
    
}

.nominal b{
    font-size:11pt;
    color:white;
    font-weight: 400;
}
.nominal{
    justify-content: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:20px;
   
}
.nominal button{
    justify-self: end;
width: 30%;
height: 4em;

    align-self: start;
    background-color: rgb(68, 39, 39);
    color:white;
    border-radius: 4px;
}
.nominal p{
    justify-self: center;
    align-self: end;
    font-size: 15pt;
    color:white
}

.knop{
    display:grid;
    grid-template-columns:17% 3% 14% 66%;
}