.sl{
    display: grid;
    grid-template-rows: 3% 50% 10%;
}
.sl h2{
    text-align: center;
    color:white
}

.sl img{
    justify-self: center;
    /* align-self: center; */
    width: 40%;
}

.gift img{
    height: 10em;
}