@keyframes success {
    0%{
      margin-left: -300px;
      opacity: 0;
    }
    40%{
      margin-left: 0px;
      opacity: 1;
    }
    50%{
      margin-left: 0px;
      opacity: 1;
    }
    60%{
      margin-left: 0px;
      opacity: 1;
    }
    100%{
      margin-left: -300px;
      opacity: 0;
    }

  }
.success{
    border-radius: 2%;
    animation: success 9s ease-in-out;
    position: absolute;
    top: 15%;
    left: 0;
    margin-left: -300px;
    padding: 20px 50px;
    text-align: center;
    opacity: 0;
    background-color: green;
  }
  .success b{
    color:whitesmoke;
  }