.despkin{
    display: grid;
    grid-template-rows: -1fr;
    color: whitesmoke
}
.despkin p{
    justify-self: center;
    align-self: start;
}
.despkin ul{
    align-self: center;
    justify-self: start;
}
.despkin li{
    
    color: green;
}

.despkin li span{
    color: green
}
.despkin a{
    text-decoration: none;
}
.despkin h5{
    align-self: start;
}