.saleItem{
    display: grid;
    grid-template-rows:11% 1fr 19% 35% ;
    background: url("../../../../redux/fotos/slae_phone.jpg");
}
.saleItem ul{
    font-size: 16pt;
    font-weight: bold;
    color:rgb(90,224,169);
}
.saleItem li{
    font-size: 12pt;
    font-weight:normal;
    color: whitesmoke;
}
.saleItem h1{
    color:rgb(90,224,169);
}

.saleItem p{
    font-size: 14pt;
    color: whitesmoke;
}
.saleItem a{
    color:aqua;
    text-decoration: none;
    font-size: 12pt;
}
