.kinoteatrs{
    
    display: grid;
    grid-template-columns: 66% 34%;

}

.kinoteatrs img{
    width: 100%;
}
.ssi{
    background-color: rgb(68, 39, 99);
    
}
.ssi h2{
    text-align: center;
}
.kinoteatrs iframe{
    justify-self: center;
width: 100%;
height: 47vh;
border-radius: 0.3%;
border: 1px solid rgb(68, 39, 99);
}